#map{
    width:100%;
    background-color: #ffffff;
}

.leaflet-tile-pane{
    -o-filter: brightness(1.05) contrast(1.1) grayscale(1);
    -ms-filter: brightness(1.05) contrast(1.1) grayscale(1);
    -webkit-filter: brightness(1.05) contrast(1.1) grayscale(1);
    filter: brightness(1.05) contrast(1.1) grayscale(1);
}


.table{
    position: absolute;
    bottom:36px;
    right: 10px;
    /*border-radius: 6px;*/
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 6px rgba(0,0,0,0.6);
    border: #666666 thin solid;
    padding: 5px;
    font-family: "Verdana";
    line-height: 1.4;
}

.table .title{
    font-family: "Helvetica";
    font-style: italic;
}

.table-content{
    background-color:#ffffff;
    max-height:200px;
    overflow:auto;
    outline: #cccccc thin solid;
}

.table-row{
    font-size: 12pt;
    outline: #cccccc thin solid;
    color: #333333;
    display: flex;
    flex-flow: row wrap;
}
.table-row>*{
    display: inline-block;
    font-weight: 700;
    font-size: 10pt;
    width: 300px;
    line-height: 1.4;
}

@media all and (max-width: 760px){
    .table-row>*{
        width: 184px;
    }
}

.leaflet-popup-content .table-row>*{
    width:150px;
}
.table-row>*:first-child{
    color: #333366;
}
.table-row>*>*{
    display: inline-block;
    color: #333333;
    max-width:150px;
    vertical-align: text-top;
    float: right;
}
.table-row>*>*:first-child:before{
    content: ": ";
}

.wayAuthors>*:first-child, .nodeAuthors>*:first-child, .wayAuthor>*:first-child, .nodeAuthor>*:first-child{
    font-weight: 700;
    color: #990000;
}

.other_tags, .osm_id, .osm_way_id, .nodeAuth_2, .wayAutho_2{
    display:none;
}

.leaflet-popup-content{
    margin:10px;
}

.leaflet-container  a.leaflet-popup-close-button{
    top: -8px;
    right: -8px;
    border-radius: 5px;
    background-color: #006699;
    border: #6666aa thin solid;
    padding:0px;
}


.leaflet-div-icon{
    background-color: transparent;
    /*    width: 20px;
        height:20px;
        border-radius: 20px;
        box-shadow: 4px 4px 6px #000000;*/
    border:none;
    outline:none;
}
.leaflet-div-icon>img{
    width:25px;
}

.leaflet-control-zoom{
    border: #666666 thin solid;
    border-radius: 0px;
    background-color: rgba(255,255,255,0.8);
}
.leaflet-control-zoom a{
    border-radius: 0px;
    background-color: transparent;
}
.leaflet-control-zoom a:hover{
    border-radius: 0px;
    background-color: #ffffff;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.6);
}

.msg{
    position:absolute;
    top:10px;
    left: 25%;
    right: auto;
    width: 50%;
    text-align: center;
    font-family: "Helvetica";
    font-size: 12pt;
    background-color: rgba(255,255,255,0.8);
    border: #666666 thin solid;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.6);
}

.hidden{
    display:none;
}